@model IList<MVC_TestBed.Models.GetResults_Result>
@{
    ViewBag.Title = "Τελικά Αποτελέσματα";
}

<div id="ContentSection">

    @section featured {
        <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Τα τελικά σταθμισμένα και φιλτραρισμένα αποτελέσματα, με συνολικά @ViewBag.TotalVotes ψήφους.

            </p>
        </div>
    </section>
    }
    @using (Html.BeginForm())
    { 
        @Html.AntiForgeryToken()

        <table id="chartcontainer" style="width: 100%; white-space: nowrap; display: none">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (Model[i].C2014_WeightedEstimate == 0) { continue; }
                <tr>
                    <td style="width: 25%">
                        @{//Html.ActionLink(Model[i].Name, "Details", new { id = Model[i].ID })
            }

                        @Ajax.ActionLink(Model[i].Name, "Index", new { id = Model[i].ID }, new AjaxOptions { UpdateTargetId = "ContentSection", OnBegin = "beginDetails", OnSuccess = "successDetails", OnFailure = "failureDetails" })
                    </td>
                    <td>
                        @Math.Round(Model[i].C2014_WeightedEstimate, 2) %
                    </td>
                    <td style="width: 75%;" class="chartcontainer">
                        @{ var myattribute = Math.Round(Model[i].C2014_WeightedEstimate, 0);}
                        <div class="chartbar" myattribute="@myattribute" style="width:0px;height:15px;background-color:Red">
                        </div>
                    </td>
                </tr>
                //break;

            }
        </table>
    
    }
    @section scripts {
        <script type="text/javascript">

            $(document).ready(function () {

                $("#chartcontainer").fadeIn(1000, function () {
                    $("div.chartbar").each(function () {
                        var totalWidth = $(".chartcontainer").width();
                        var newWidth = (totalWidth * $(this).attr("myattribute") / 100) * 3;
                        $(this).animate({ width: newWidth + "px" }, 3000);


                    });

                });
            });

            function beginDetails(args) {
                $('#ContentSection').fadeOut('normal');
            }

            function successDetails() {
                $('#ContentSection').fadeIn('normal');
            }

            function failureDetails() {
                alert("Could not retrieve details.");
            }

        </script>
    }


</div>
